@page
@model kennel_bambino.web.Pages.Admin.Patterns.IndexModel

@{
    ViewBag.Title = "Pattern list";
}

<section>

    <h1 class="text-capitalize display-4 mb-5">
        <i class="fab fa-forumbee text-success fa-fw"></i> @ViewBag.Title
    </h1>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            <i class="fa fa-check fa-fw"></i> @TempData["Success"]
        </div>
    }

    <div class="clearfix">
        <a asp-page="Create" class="btn btn-primary text-capitalize float-left mb-3">
            <i class="fa fa-plus fa-fw"></i> Add new
        </a>

        <button type="button" class="btn btn-primary float-right mb-3">
            <i class="fa fa-th-list fa-fw"></i> @Model.PatternsCount
        </button>
    </div>

    @if (Model.Patterns.Any())
    {
        <div class="table-responsive">

            <table class="table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Pattern pattern in Model.Patterns)
                    {
                        <tr>
                            <td>@pattern.PatternId</td>
                            <td>@pattern.Name</td>
                            <td>
                                <a asp-page="Edit"
                                   asp-route-id="@pattern.PatternId"
                                   class="btn btn-sm btn-outline-warning">
                                    <i class="fa fa-pen fa-fw"></i> Edit
                                </a>

                                <a asp-page="Delete" asp-route-id="@pattern.PatternId" class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash-alt fa-fw"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <div class="alert alert-primary border border-warning">
            <p class="mb-0">
                <i class="fa fa-exclamation-triangle fa-fw mx-2"></i> No Pattern Exist.
            </p>
        </div>
    }

</section>