@page
@model kennel_bambino.web.Pages.Admin.Photos.IndexModel

@{
    ViewBag.Title = "Photo list";
}

<section>

    <h1 class="text-capitalize display-4 mb-5">
        <i class="fa fa-image text-white fa-fw"></i> @ViewBag.Title
    </h1>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            <i class="fa fa-check fa-fw"></i> @TempData["Success"]
        </div>
    }

    <div class="clearfix">
        <a asp-page="Create" class="btn btn-primary text-capitalize float-left mb-3">
            <i class="fa fa-plus fa-fw"></i> Add new
        </a>

        <button type="button" class="btn btn-primary float-right mb-3">
            <i class="fa fa-th-list fa-fw"></i> @Model.PhotosCount
        </button>
    </div>

    @if (Model.PhotoPagingVM.PageCount > 1)
    {
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                @for (int i = 1; i <= Model.PhotoPagingVM.PageCount; i++)
                {
                    <li class="page-item @(Model.PhotoPagingVM.PageNumber == i ? "active" : "")">
                        <a class="page-link" href="/Admin/Photos?PageNumber=@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    }

    @if (Model.PhotoPagingVM.Photos.Any())
    {
        <div class="table-responsive">

            <table class="table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Pet's Photo</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Photo photo in Model.PhotoPagingVM.Photos)
                    {
                        <tr>
                            <td>@photo.PhotoId</td>
                            <td>
                                <img src="~/images/thumbnails/@photo.PhotoName"
                                     alt="@photo.Pet.Title"
                                     class="rounded fixed-width-image-75" />
                            </td>
                            <td>
                                <a asp-page="Edit"
                                   asp-route-id="@photo.PhotoId"
                                   class="btn btn-sm btn-outline-warning">
                                    <i class="fa fa-pen fa-fw"></i> Edit
                                </a>

                                <a asp-page="Delete" asp-route-id="@photo.PhotoId" class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash-alt fa-fw"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <div class="alert alert-primary border border-warning">
            <p class="mb-0">
                <i class="fa fa-exclamation-triangle fa-fw mx-2"></i> No Photo Exist.
            </p>
        </div>
    }

</section>

