@page
@model kennel_bambino.web.Pages.Admin.Pets.IndexModel

@{
    ViewBag.Title = "Pet list";
}

<section>

    <h1 class="text-capitalize display-4 mb-5">
        <i class="fa fa-paw text-danger fa-fw"></i> @ViewBag.Title
    </h1>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            <i class="fa fa-check fa-fw"></i> @TempData["Success"]
        </div>
    }

    <div class="clearfix">
        <a asp-page="Create" class="btn btn-primary text-capitalize float-left mb-3">
            <i class="fa fa-plus fa-fw"></i> Add new
        </a>

        <button type="button" class="btn btn-primary float-right mb-3">
            <i class="fa fa-th-list fa-fw"></i> @Model.PetsCount
        </button>
    </div>

    @if (Model.PetPagingVM.PageCount > 1)
    {
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                @for (int i = 1; i <= Model.PetPagingVM.PageCount; i++)
                {
                    <li class="page-item @(Model.PetPagingVM.PageNumber == i ? "active" : "")">
                        <a class="page-link" href="/Admin/Pets?PageNumber=@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    }
    @if (Model.PetPagingVM.Pets.Any())
    {
        <div class="table-responsive">

            <table class="table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NationalID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Pet pet in Model.PetPagingVM.Pets)
                    {
                        <tr>
                            <td>@pet.PetId</td>
                            <td>@pet.Code</td>
                            <td>@pet.Title</td>
                            <td>
                                <a asp-page="Edit"
                                   asp-route-id="@pet.PetId"
                                   class="btn btn-sm btn-outline-warning">
                                    <i class="fa fa-pen fa-fw"></i> Edit
                                </a>

                                <a asp-page="Delete" asp-route-id="@pet.PetId" class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash-alt fa-fw"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <div class="alert alert-primary border border-warning">
            <p class="mb-0">
                <i class="fa fa-exclamation-triangle fa-fw mx-2"></i> No Pet Exist.
            </p>
        </div>
    }

</section>

